@media (min-width: 1800px){
   .conteudo{
      padding: 8% 13% 7% 13%;
   }
   .conteudo .bem-vindo{
      font-size: 30px;
      
   }
   .conteudo .slogan{
      font-size: 4rem;
      line-height: 57px;
      margin-bottom: 10px;
   }
   .texto{
      max-width: 690px;
   }
   .conteudo .paragrafo{
      font-size: 18px;
   }
   .conteudo .container-carrosel .container-imagem .ativa{
      width: 670px;
   }
   .prova{
      padding:50px 200px 0 200px;
   }
}
@media (min-width: 1500px){
   .conteudo{
      padding: 8% 12% 7% 12%; 
   }
}
@media (max-width: 414px){
   .navigation{
      display: none;
   }
   .conteudo .container-carrosel .container-imagem .hamburguer{
      display: none;
   }
   .conteudo .texto .bem-vindo{
      font-size: 22px;
   }
   .sobre-informacoes{
      flex-direction: column;
   }
   .imagem-salada{
      margin-top: 350px;
      width: 400px;
   }
   .sobre-informacoes h1{
      font-size: 3rem;
      text-align: center;
   }
   .sobre-informacoes h2{
      text-align: center;
   }
   .sobre-informacoes{
      padding: 0 50px 0 50px;
   }
   .texto-cardapio h1{
      text-align: center;
   }
   .prova{
      margin-bottom: 300px;
   }
   .sobre{
      padding: 0px 80px 450px 80px;
   }
   .cardapio{
      padding: 10px;
   }
   .texto-cardapio p{
      line-height: 1.75rem;
   }
   /*-------------------------------------------  SEÇÃO CARDS  ---------------------------------------*/

   .prova .texto-clientes .subtitulo-clientes{
      line-height: 24px;
      font-size: 18px;
      text-align: center;
      width: 300px;
   }
   .prova .texto-clientes .titulo-clientes{
      line-height: 54px;
      text-align: center;
   }
   .container-clientes{
   
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .cliente{
      max-width: 320px;
   }
   
   /*------------------------------------------ SEÇÃO SOBRE --------------------------------------------*/

   
   .sobre-informacoes .titulo-sobre h2{
      margin-top: 13px;
      line-height: 23px;
      display: flex;
      text-align: center;
   }

   /* -------------------------------------- SEÇÃO CARDÁPIO -----------------------------------------------------*/
}